#! Python

PM_HOST      = "172.17.0.1"
PM_WORKSPACE = "workflow"

PM_USER = "unicorn"
PM_PW   = "123456"

CLIENT_ID     = "RHWKURZZFATLYHTQBVPXHFFAPVWMZLAR"
CLIENT_SECRET = "722484630578ccd898230d6091258507"

API_PROTOCOL = "http://"
API_URL      = "/api/1.0"

FULL_URL = API_PROTOCOL + PM_HOST + API_URL + '/' + PM_WORKSPACE