<h1>Processmaker-Unicorn Connector</h1>
<p><a href="/">Index</a></p>

<p><a href="{% url 'new_event_type' %}">New Event Type</a></p>

<h2>Unicorn Event Types</h2>

{% for event_type in event_type_list %}
<p style="font-weight: bold">{{ event_type.et_name }}</p>
<ul>
  <li><a href="{% url 'show_event_type' event_type.id %}">Show</a></li>
  <li><a href="{% url 'edit_event_type' event_type.id %}">Edit</a></li>
  <li><a href="{% url 'list_event_types' %}?action=delete&et_id={{ event_type.id }}">Delete</a></li>
  <li><a href="{% url 'list_event_types' %}?action=sync&et_id={{ event_type.id }}">Sync with Unicorn</a></li>
</ul>
{% endfor %}
